@import "../recursos/vars";
@import "../recursos/reset";
@import "../secciones/header";
@import "../secciones/footer";
@import "../secciones/main-index";
@import "../secciones/main-historia";
@import "../secciones/main-pilotos";
@import "../secciones/main-carreras";
@import "../secciones/main-contacto";

body {
    background-color: #000000;
    color: white;
}

li {
    list-style: none;
}

main {
    padding-bottom: 100px;
    background-image: linear-gradient(#110000, #000000);
}

h3 {
    font-family: "F1Bold";
}

h4 {
    font-family: "F1Regular";
}

@media (min-width: 769px) {
    .mobile-first {
        flex-direction: row;
    }

}
