.TituloCarrera {
    padding-top: 20px;
    text-align: left;
}
.VideoResponsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 40.25%;
	padding-top: 30px;
	position: relative;
	}
.VideoResponsive iframe, .video-responsive object, .video-responsive embed {
	height: 90%;
	left: 0;
	position: absolute;
	top: 0;
	width: 90%;
	}